
/**/
/* *:before, *:after*/
*{
  text-align: center;
  font-family:'Roboto', sans-serif;
  /*background-color:#b04030;*/
}
/*HEADER WRAP*/
.headwrap {
    margin: auto;
    padding: 0px 200px 300px 150px;
    background:url('../img/Floor1.jpg') no-repeat center;
    background-size:contain;
}
/*Navigation Bar*/
.main-nav
{
display: inline-flex;;
text-align: center;
padding-top:25px;
}
.main-nav a
{
  padding-left:50px;
  text-align: center;
}
#dropdown
{
  display:inline-block;
}
/*Body Format*/
#wrapcommand
{
  width:100%;
  max-width:1000px;
  display:flex;
  flex-wrap: wrap;
  margin:0 auto;
  padding: 5px 5px;
}
/*Columns 1 and 2*/
p {
display:inline-flex;
background-color:tomato;
margin:auto;
text-align: center;
margin-top: 10px;
}
.column
{
  display:flex;
  width:30%;
  flex-direction: column;
  margin: 0 12.5px;
  min-width:300px;
}

/*The Table*/
table {
  max-width: 1076px;
  margin: 50px auto;
  text-align: center;
  /*width:30%;*/
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
}
thead{
  padding-bottom:25px;
  text-align:center;
  text-decoration:underline;
}

th{
  padding-left:5px;
}


/*MEDIA QUERIES*/

@media (max-width:480px)
{
  #desktopnav
    {
      display: none;
    }
  .column
    {
      display:flex;
      flex-wrap: wrap;
      margin-left: 10px;
    }
}
@media (max-width: 560px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
#desktopnav
  {
    display: none;
  }
  .column
  {
    display:flex;
    flex-wrap: wrap;
  }
}


@media (max-width:650px)
{
  #desktopnav
    {
      display: none;
    }
  .column
    {
      display:flex;
      flex-wrap: wrap;
      margin-left: 10px;
    }

}
@media (max-width: 769px)
{
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
#desktopnav
  {
    display: none;
  }
  .column
  {
    display:flex;
    flex-wrap: wrap;
  }

}
@media (min-width: 770px)
{
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
  #dropdown{
    display:none;
  }

}
